@import "../../../index.scss";

.chatWindow {
  display: flex;
  width: 100%;
  .rightBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

  }
  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.main {
  width: 70%;
  // background-color: $b-green;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: 100%;
  }
  .header {
    position: relative;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    img {
      filter: invert(100%);
      width: 40px;
      height: 40px;
    }
    span {
      cursor: pointer;
    }
  }
  .chatForm {
    height: 82%;
    overflow: auto;
    padding: 10px 15px;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      width: 0;
    }
    .scroll {
      height: 600px;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .you {
        min-width: 20%;
        max-width: 48%;
        background-color: #1976d2;
        align-self: flex-end;
        @media screen and (max-width: 800px) {
          width: 50%;
        }
        .comment_footer {
          flex-direction: row-reverse;
        }
      }
      .outher {
        min-width: 20%;
        max-width: 40%;
        background-color: gray;
        align-self: flex-start;
        @media screen and (max-width: 800px) {
          width: 50%;
        }
      }
    }
  }
}

.message {
  word-break: break-all;
}
.body div {
  color: #fff;
  position: relative;
  padding: 5px 5px 0 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.comment_footer {
  width: 100%;
  position: absolute;
  bottom: -15px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  input {
    width: 100%;
    height: 90%;
    padding: 5px 0;
    background-color: rgb(209, 231, 255);

    padding: 2px 15px;
    border: 2px solid transparent;
    box-sizing: border-box;
    outline: none;
  }
}
